<body>
    <div id="toolbar"> 
        <mat-toolbar color="secondary">
          <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
      
          <a mat-button class="webName" routerLink="/">
            <span>GameRanker</span>
          </a>
          <span class="example-spacer"></span>
      
        </mat-toolbar>
        <mat-sidenav-container fxFlexFill class="example-container">
      
          <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
              <a mat-button routerLink="/list">Game List</a>
              <a mat-button routerLink="/csgo">CS:GO</a>
              <a mat-button routerLink="/minecraft">Minecraft</a>
              <a mat-button routerLink="/control">Control</a>
              <a mat-button routerLink="/zelda">Ocarina of Time</a>
            </div>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>
            <div id="invis">
            Menu
        </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      <div id="gamecard">
      <mat-card>
<mat-card-header>
<mat-card-title><h1>{{home.title}}</h1></mat-card-title>
<mat-card-subtitle></mat-card-subtitle>
</mat-card-header>
<mat-card-content>
{{home.content}}
</mat-card-content>
</mat-card>
</div>
<div class="logo">
<img src="/assets/img/gamerankerlogo.png">
</div>
</body>